.ux-multi-column-treeview {
    margin: 2px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
}


.ux-multi-column-treeview-header-label__custom{
    -unity-text-align: middle-center;
}
